.item-divider-md{ 
    color: color($colors, color-primary-1); 
}

.select-md .select-icon .select-icon-inner{
    color: color($colors, color-primary-4); 
}

.lb-settings { 
    font-size: 1.3em; font-weight: bold; 
}

.lb-global {
    text-align: left;
    font-size: 1.4em;
}

.left{
    text-align: left;
}

.form-select {
    min-width: 100%;
}