//item item-divider item-md item-divider-md item-md-header-bg item-divider-md-header-bg
.item-divider-md{ color: color($colors, color-primary-1); }
//.select-md { color: color($colors, color-primary-2); }
//.select-icon{ color: color($colors, color-primary-2); }
//.select-icon-inner{ color: color($colors, color-primary-2); }
.select-md .select-icon .select-icon-inner{color: color($colors, color-primary-4); }

